

#root {
  margin: 0 auto;
  background-color: #1b1b1b;
}


.homepage-flex {
  display: flex;
  justify-content: flex-end;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  height: 1.75em;
}

.nav-color {
  color: #BEC3BE;
  font-family:'Acme', sans-serif;
}

.nav-color:active,
.nav-color:hover {
  text-shadow: 0 0 5px #B02673;
}


.intro {
  position: absolute;
  font-family:'Acme', sans-serif;
  color: #131713;
  font-size: 2rem;
  margin-top: 12rem;
  margin-right: 57rem;
  text-shadow: 0 0 10px whitesmoke;
}

.name {
  color: #B02673;
  font-family:'Acme', sans-serif;
  font-size: 7em;
  margin-top: 13rem;
  margin-right: 45rem;
  position: absolute;
  text-shadow: -10px 10px 7px #131713;
}

.avatar {
  width: 14rem;
  margin-top: 10em;
  margin-right: 18rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  box-shadow: -10px 10px 5px #131713;
  position: relative;
}

.can-do {
  font-family:'Acme', sans-serif;
  font-size: large;
  color: #B02673;
  text-shadow: -3px 3px 2px #131713;
  margin-right: 13em;
  margin-top: 21rem;
}

.about-me {
  margin-top: 4rem;
  margin-left: 7rem;
  max-width: 75%;
}

.headers {
  font-family:'Acme', sans-serif;
  font-size: 3rem;
  color:#B02673;
  text-shadow: -10px 10px 3px #131713;
}

.skills {
  margin-top: 7rem;
  margin-left: 3.5rem;
  margin-bottom: 2.5rem;
}

.sub-header {
  color: #26D226;
  font-family:'Acme', sans-serif;
  font-size: x-large;
  margin-left: 6rem;
}

.skill-vector {
  width: 5rem;
  margin: 1rem;
}

.skill-text {
  text-align: center;
  color: #BEC3BE;
}

.skill-box {
  width: 50%;
}

.skill-container {
  margin-bottom: 3rem;
}

.about-me-section {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #BEC3BE;
  font-size: x-small;
}

.little-links {
  width: 3rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.little-links:hover {
  box-shadow: -5px 5px 5px #B02673;
  transform: translateY(-3px);
  transition: transform 0.25s;
}

.socials-flex {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.cert-img {
  width: 25rem;
}

.cert-img:hover {
  width: 40rem;
  box-shadow: -10px -10px 3px #B02673, 10px 10px 3px #26D226;
}

.cert {
  margin-top: 2rem;
  font-family:'Acme', sans-serif;
  font-size: 2rem;
  color:#B02673;
  text-align: center;
}

.cert-title {
  margin-top: 1.5em;
  font-family:'Acme', sans-serif;
  font-size: 3rem;
  color:#B02673;
}

.image-div {
  display: flex;
  justify-content: center;
}

.about-me-stuff {
  width: 20rem;
  height: 20rem;
}



.parent {
  margin-top: 3rem;
  margin-bottom: 7rem;
  margin-left: 2rem;
}

.relative {
  position: relative;
}

.image1,
.image2,
.image3 {
  position: absolute;
  width: 30rem;
}

.img-caption {
  padding-top: 15rem;
  color: whitesmoke;
  font-family:'Acme', sans-serif;
}

.image1:hover {
  animation: firstGlitch 3s infinite;
}

.image2:hover {
  animation: glitch 3s infinite;
}

.image3:hover {
  animation: fadeOutIn 3s infinite;
}

.project-repo:link {
  color:#B02673;
}

.project-repo:visited {
  color: #26D226;
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes firstGlitch {
  2% {
    opacity: 0
}

17% {
    opacity: 1
}

20% {
    opacity: 0
}

40% {
    opacity: 0.5
}

43% {
    opacity: 0
}

62% {
    opacity: 1
}

68% {
    opacity: 0.5
}

75% {
    opacity: 0
}
}

@keyframes glitch {
  5% {
    opacity: 0
}

10% {
    opacity: 1
}

27% {
    opacity: 0
}

33% {
    opacity: 0.5
}

57% {
    opacity: 0
}

65% {
    opacity: 1
}

80% {
    opacity: 0.5
}

100% {
    opacity: 1
}
}

@keyframes fadeOutIn {

  0% {
      opacity: 0
  }

  7% {
      opacity: 1
  }

  25% {
      opacity: 0
  }

  30% {
      opacity: 0.5
  }

  50% {
      opacity: 0
  }

  56% {
      opacity: 1
  }

  79% {
      opacity: 0.5
  }

  100% {
      opacity: 1
  }
}